
extends layout.pug


block content

  article.portfolio-intro

    
    h1 Hey, Potential Customers

    
    p This portolio puts my skills listed to use,displayed in a spectacular fashion.From client side to server side javascript,we do it all!


  article.portfolio-project-thumbs
    .projects-box.box.grid


      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`http://localhost:3000/static/${project.image_urls}`, alt=`${project.project_name}`)
            h5=project.project_name

