/*
  Main styles
*/
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  background: #000;
  transform: translateX(0px);
  transition: all 0.4s ease-out;
}

article {
  background: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Merriweather', serif;
}

h5 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #666;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  background: #fefefe;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
}

.box {
  width: 100%;
  max-width: 1200px;
  padding: 40px 50px 30px;
  background: #fefefe;
  border-bottom: 1px solid #eaeaea;
}

.box h1,
.box h6 {
  margin: 0 auto 8px;
}

.box h6 {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.box li {
  font-size: 13px;
}

/*
  Sidebar and mobile header
*/
nav {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

nav a {
  width: 100%;
  vertical-align: middle;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #555;
}

nav a span {
  font-weight: bold;
  font-size: 1.25rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23f6f3fb' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.sidebar-info-box {
  margin: auto;
}

.thumbnail-box {
  padding: 0 10px;
}

.sidebar .thumbnail {
  width: 100%;
  max-width: 250px;
  border: 4px solid #fff;
}

.dev-intro-box {
  padding: 10px;
}

.sidebar h5 {
  color: #fefefe;
  margin: 0 auto 0.5rem;
}

.sidebar p {
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 14px;
  color: #999;
}

.sidebar a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #555;
}

.header {
  vertical-align: middle;
  color: #fefefe;
  height: 40px;
  padding: 0.5rem;
  background: #0a0a0a;
  border-left: 1px solid #0a0a0a;
}

.header span {
  display: inline-block;
  font-weight: bold;
}

.header button {
  vertical-align: top;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 20px;
  height: 16px;
  border: none;
  background: #0a0a0a;
  margin-top: 3px;
  margin-right: 10px;
  border-top: 2px solid #fefefe;
  border-bottom: 2px solid #fefefe;
}

.header button:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 20px;
  height: 2px;
  background: #fefefe;
}

/*
  Home page styles
*/
.portfolio-intro {
  max-width: 1200px;
  padding: 40px 50px 30px;
}

.portfolio-intro h1 {
  font-size: 1.5rem;
  color: #0a0a0a;
  margin: 0 auto 8px;
}

.portfolio-intro p {
  text-rendering: optimizeLegibility;
  font-size: 125%;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}

.projects-box h5 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #222;
  margin: 0 auto 8px;
}

.cell a {
  width: 100%;
}

.cell img {
  width: 100%;
  min-width: 100px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}

/* 
  About and project pages styles 
*/
.about-intro-box p,
.project-info-box p {
  font-size: 125%;
}

.about-bio p {
  font-size: 15px;
  padding-top: 40px;
}

.skills-contact-box ul {
  margin-bottom: 35px;
}

.project-img {
  width: 100%;
  max-width: 1065px;
  margin-bottom: 15px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}

.btn-link {
  display: block;
  text-align: center;
  color: #fefefe;
  width: 100%;
  max-width: 255px;
  margin: auto 0 5px 0;
  padding: 0.85em 1em;
  background-color: #333;
  border: 1px solid transparent;
}

/* 
  Tablet layout styles 
*/
@media screen and (min-width: 768px) {
  .sidebar h5 {
    font-size: 1.25rem;
  }

  .portfolio-intro h1 {
    font-size: 3rem;
  }

  .box {
    border-bottom: none;
  }

  .two-col .box:nth-of-type(1) {
    width: 70%;
    padding-right: 15px;
  }
  .two-col .box:nth-of-type(2) {
    width: 30%;
    padding-top: 50px;
    padding-left: 15px;
  }

  .cell {
    margin: 0 0 15px;
  }

  .cell h5 {
    font-size: 1.25rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

/* 
  Desktop layout styles 
*/
@media screen and (min-width: 1024px) {
  .sidebar {
    left: 0;
  }

  .header {
    display: none;
  }

  .wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
  }

  .inner-wrapper {
    max-width: 1200px;
  }
}
